body
{
    background-image:url(dark_embroidery.png) ;
    background-attachment:fixed;
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    padding:0px;
   
}


header
{
    background-image:url(mooning.png);
   width:auto;
    height:230px;
   
 
}

header p
{
    color:white;
   
}

.photo img
{
    width:233px;
    height:200px;
    padding:15px;
    float:left;
}

.recherche
{
    float:left;
}

h1
{
 margin-left:45px;
 
}

h2
{
 
 margin-left:45px;

}

main
{
width:90%;
height:1000px;
clear:both;
}
 
.parcours
{
    width:30%;
    float:left;
    height:100%;
}
.ambition
{
    width:30%;
    float:left;
    height:100%;
}
.experience
{
    width:30%;
    float:right;
    height:100%;
     
}
footer
{
   background-image:url(mooning.png);
 position:absolute;
bottom:0;
width:100%;

height:50px;
   

   
}